    <!-- BEGIN SIDEBPANEL-->
    <nav class="page-sidebar" data-pages="sidebar" ng-controller="SidebarCtrl" pg-sidebar>
      <!-- BEGIN SIDEBAR MENU HEADER-->
      <div class="sidebar-header">
        <img src="assets/copya/img/logo_white.png" alt="logo" class="brand" data-src="assets/copya/img/logo_white.png" ui-jq="unveil" data-src-retina="assets/copya/img/logo_white_2x.png" width="78" height="22">
        <div class="sidebar-header-controls"></div>
      </div>
      <!-- END SIDEBAR MENU HEADER-->
      <!-- START SIDEBAR MENU -->
      <div class="sidebar-menu  m-t-30">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items">
          <li class="m-b-5" ng-repeat="(key, item) in items" ng-class="{'open ': item.length == 1, 'open active':includes('app.item') }" >
            <a ui-sref="{{ item[0].nav_name }}" class="detailed" ng-show="item.length == 1">
              <span class="title">{{ item[0].nav_name }}</span>
            </a>
            <span class="icon-thumbnail" ng-show="item.length == 1"><i class="pg-home"></i></span>

            <a href="javascript:;" ng-show="item.length > 1"><span class="title">{{ key }}</span>
              <span class=" arrow" ng-class="{'active open':$state.includes('app.layouts')}"></span></a>
            <span class="icon-thumbnail" ng-show="item.length > 1"><i class="pg-layouts2"></i></span>
            <ul class="sub-menu" ng-show="item.length > 1">
              <li ui-sref-active="active" ng-repeat="sub in item">
                <a ui-sref="{{ sub.nav_name }}">{{ sub.nav_name }}</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- END SIDEBAR MENU -->
    </nav>
    <!-- END SIDEBAR -->
    <!-- END SIDEBPANEL-->