<div class="container-fluid container-fixed-lg">
    <div class="page-heading">
        <div class="pull-left">
            <h1 class="page-title">Navigations</h1>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-default" ng-click="toggleSlideUpSize()">Add new</button>
        </div>
    </div>

    <!-- START PANEL -->
    <div class="panel">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover" id="navigationsTable">
                    <thead>
                    <tr>
                        <th style="width:1%">
                            <button class="btn"><i class="pg-trash"></i>
                            </button>
                        </th>
                        <th style="width:20%">Title</th>
                        <th style="width:20%">Item Count</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="navigation in navigations" ng-click="editNavigation(page.id)">
                            <td class="v-align-middle">
                                <div class="checkbox checkbox-primary">
                                    <input type="checkbox" value="{{ navigation.id }}" id="checkbox{{ navigation.id }}" ng-click="selectRow($event)">
                                    <label for="checkbox{{ navigation.id }}"></label>
                                </div>
                            </td>
                            <td class="v-align-middle ">
                                <p><a ui-sref="navigations.show({id: navigation.id})">{{ navigation.display_name }}</a></p>
                            </td>
                            <td class="v-align-middle">
                                <p></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>

<div class="modal fade slide-up disable-scroll" id="modalSlideUp" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog ">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                    </button>
                    <h5><span class="semi-bold">Navigation</span></h5>
                </div>
                <div class="modal-body">
                    <form id="form-navigation" ng-submit="submitNavigationForm(navigation_.$valid)" role="form" autocomplete="off" name="navigation_" novalidate>
                        <div class="form-group-attached">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div pg-form-group class="form-group form-group-default">
                                        <label>Name</label>
                                        <input type="text" class="form-control input-lg" id="name" placeholder="Navigation Name" name="name" ng-class="{'error': navigation_.title.$invalid && !navigation_.title.$pristine}" ng-model="navigation.name" required>
                                        <!--<label class="error" for="name" ng-show="navigation_.name.$invalid && !navigation_.name.$pristine">This field is required.</label>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-8"></div>
                            <div class="col-sm-4 m-t-10 sm-m-t-10">
                                <button type="submit" class="btn btn-primary btn-block m-t-5">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>