<div class="container-fluid container-fixed-lg ng-scope">
    <!-- START PANEL -->
    
    <div class="page-heading">
        <h1 class="page-title" ng-show="!page.id">New Page</h1>
        <h1 class="page-title" ng-show="page.id">Edit Page</h1>
    </div>
            
    <form id="form-work" ng-submit="submitForm(page_.$valid)" role="form" autocomplete="off" name="page_" novalidate>
        <div class="row">
            <div class="col-sm-8">
                 <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">Title</div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <input type="text" class="form-control" id="title" placeholder="Page title" name="title" ng-class="{'error': page_.title.$invalid && !page_.title.$pristine}" ng-model="page.title" required>
                                <label class="error" for="title" ng-show="page_.title.$invalid && !page_.title.$pristine">This field is required.</label>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">Content</div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="summernote-wrapper">
                                <div id="summernote" config="summernote_options" ng-model="page.content" on-focus="focus(evt)" on-blur="blur(evt)" summernote></div>
                            </div>
                        </div> 
                    </div> 
                </div> 
            </div>
            <div class="col-sm-4">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">Status</div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row" ng-if="page.status != 'trashed'">
                                <select class="form-control" name="status" title="status" ng-model="page.status">
                                    <option value="draft">Draft</option>
                                    <option value="published">Published</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">Layout</div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <select class="form-control" name="layout" title="Page Layout" ng-model="page.layout" >
                                <option value="{{ layout }}" ng-repeat="layout in layouts">{{ layout }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="pull-left">
                        <div ng-if="page.status != 'trashed' && page.id">
                            <a class="text-danger" ng-click="trashPage(page)">Move to Trash</button>
                        </div>
                        <div ng-if="page.status == 'trashed'">
                            <a class="text-primary" ng-click="restorePage(page)">Restore</button>
                            <a class="text-danger" ng-click="deletePage(page)">Delete Permanently</button>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-primary" type="submit" ng-show="!page.id">Publish</button>
                        <button class="btn btn-primary" type="submit" ng-show="page.id">Update</button>
                    </div>
                </div>
            </div>  
        </div>
    </form>

</div>
<!-- END CONTAINER FLUID -->